.jsProject_card {
  width: 70%;
  display: flex;
  margin: auto;
}
.jsProject_card .box {
  width: 50%;
  height: 350px;
  margin: 40px;
}
.jsProject_card .left {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.jsProject_card .left .img_box {
  height: 90%;
  overflow: hidden;
}
.jsProject_card .left .img_box img {
  width: 100%;
  height: 100%;
}
.jsProject_card .left .img_link {
  height: 10%;
  padding: 10px 20px;
}
.jsProject_card .right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.jsProject_card .right .title {
  font-size: 1.5rem;
}
.jsProject_card .right .text p {
  margin: 1rem 0;
  font-size: 1rem;
}
.jsProject_card .right .text_link a {
  text-decoration: none;
  font-size: 1.5rem;
  margin-right: 20px;
}

@media screen and (max-width: 1100px) {
  .jsProject_card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .jsProject_card .box {
    width: 80%;
    height: 350px;
  }
  .jsProject_card .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    margin-top: -15px;
  }
  .jsProject_card .right .text p {
    margin: 0.5rem 0;
    font-size: 1rem;
  }
}
div.animation {
  width: 100%;
  height: 100vh;
  background-color: #e08958;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#first {
  stroke-dasharray: 696px;
  stroke-dashoffset: 696px;
  -webkit-animation: fadeInside 0.6s ease-in forwards;
          animation: fadeInside 0.6s ease-in forwards;
}

#second {
  stroke-dasharray: 418px;
  stroke-dashoffset: 418px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 0.3s;
          animation: fadeInside 0.6s ease-in forwards 0.3s;
}

#third {
  stroke-dasharray: 217px;
  stroke-dashoffset: 217px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 0.6s;
          animation: fadeInside 0.6s ease-in forwards 0.6s;
}

#forth {
  stroke-dasharray: 1153px;
  stroke-dashoffset: 1153px;
  -webkit-animation: fadeInside 0.6s ease-in forwards;
          animation: fadeInside 0.6s ease-in forwards;
}

#fifth {
  stroke-dasharray: 1413px;
  stroke-dashoffset: 1413px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 0.2s;
          animation: fadeInside 0.6s ease-in forwards 0.2s;
}

#sixth {
  stroke-dasharray: 594px;
  stroke-dashoffset: 594px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 0.4s;
          animation: fadeInside 0.6s ease-in forwards 0.4s;
}

#seventh {
  stroke-dasharray: 1283px;
  stroke-dashoffset: 1283px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 0.5s;
          animation: fadeInside 0.6s ease-in forwards 0.5s;
}

#eighth {
  stroke-dasharray: 1221px;
  stroke-dashoffset: 1221px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 0.6s;
          animation: fadeInside 0.6s ease-in forwards 0.6s;
}

svg {
  -webkit-animation: fill 1s ease-in forwards 0.6s;
          animation: fill 1s ease-in forwards 0.6s;
}

@-webkit-keyframes fadeInside {
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes fadeInside {
  to {
    stroke-dashoffset: 0px;
  }
}
@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}
.resource_page table {
  width: 60%;
  margin: 50px auto 25px auto;
}
.resource_page table tr th {
  background-color: rgb(103, 219, 255);
  padding: 5px;
  font-size: 1.5rem;
}
.resource_page table tr td {
  background-color: rgb(217, 243, 251);
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}
.resource_page table tr td a {
  text-decoration: none;
}
.resource_page table tr .th1 {
  width: 30%;
}
.resource_page table tr .th2 {
  width: 70%;
}

.note_page .intro {
  width: 70%;
  margin: auto;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 20px;
}
.note_page .card {
  width: 70%;
  margin: 35px auto 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 1px 1px 10px #333333;
}
.note_page .card a {
  text-decoration: none;
}
.note_page .card img {
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 20px;
}
.note_page .card .note {
  width: 30%;
  flex: 1 1 auto;
  padding: 20px;
}
.note_page .card .from {
  width: 30%;
  flex: 1 1 auto;
  padding: 20px;
}
.note_page .card .link {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  position: relative;
}

.orange {
  position: absolute;
  top: -10vh;
  right: 0;
  z-index: -1;
  width: 55vw;
  height: 150vh;
}

header {
  border-bottom: 1px solid black;
}
header nav {
  width: 100%;
}
header nav ul {
  padding: 2rem;
  width: 70%;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
header nav ul li {
  font-size: 1.75rem;
}
header nav ul li a {
  color: black;
  text-decoration: none;
}

footer a {
  padding: 1.5rem;
}

.front_page {
  height: 100vh;
  overflow: hidden;
}

main {
  display: flex;
  flex-wrap: wrap;
}
main section.left {
  flex: 3 1 500px;
  padding: 2rem;
}
main section.left h1 {
  font-size: 4rem;
  color: #e08958;
}
main section.left p {
  font-size: 1.5rem;
  padding: 1rem 0rem;
}
main section.left .intro span {
  font-size: 30px;
  vertical-align: bottom;
  padding-right: 2px;
}
main section.right {
  flex: 1 1 600px;
  position: relative;
}
main section.right img {
  border-radius: 50%;
  width: 25vw;
  height: 25vw;
  position: absolute;
  top: 45vh;
  right: 10vw;
  transform: translateY(-50%);
}
main section.table {
  flex: 3 1 500px;
  padding: 2rem;
}
main section.table table {
  border-collapse: collapse;
}
main section.table table tr {
  border-bottom: 1px solid gray;
  transition: all 0.2s ease;
}
main section.table table tr td {
  padding: 1rem;
}
main section.table table tr:hover {
  background-color: #ffc5a3;
}
main section.table table tr li {
  list-style-type: none;
}
main section.picture {
  flex: 1 1 600px;
  position: relative;
}
main section.picture img {
  width: 30vw;
  height: 90vh;
}
main section.picture div.orangeRect {
  width: 30vw;
  height: 90vh;
  background-color: #e08958;
  position: absolute;
  top: 30px;
  left: 80px;
  z-index: -1;
}

.active {
  color: #e08958;
}

@media screen and (max-width: 1100px) {
  .orange {
    opacity: 0.5;
  }
  header nav ul {
    width: 100%;
    flex-direction: column;
  }
  header nav ul li {
    padding: 1rem 0rem;
    border-bottom: 2px solid gray;
  }
  main section.right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
  main section.right img {
    position: static;
    transform: none;
    width: 50vw;
    height: 50vw;
  }
  main section.picture {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main section.picture img {
    width: 60vw;
  }
  main section.picture div.orangeRect {
    display: none;
  }
}/*# sourceMappingURL=all.css.map */